h2 {
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 2px 3px #808080;
}
h3 {
  color: #fff;
  font-weight: bold;
  margin: 0.3em;
  text-shadow: 1px 2px 3px #808080;
}

span{
  color: red;
}

.container {
  justify-content: center;
}




/* inputの数字を見えなくする */
.transparent {
  color: transparent;
}

.input-form {
  
  height: 3.4em;
  width: 100px;
  padding: 0 16px;
  border-radius: 10px;
  border: solid 4px #ccc;
  box-shadow: 0 0 0 1px #ccc inset;
  appearance: none; 
  -webkit-appearance: none;
  -moz-appearance: none;
}

.input-form:focus {
  outline: 0;
  border: solid 4px rgb(33, 150, 243);
}

.switch__label {
  width: 50px;
  position: relative;
  display: inline-block;
}
.switch__content {
  display: block;
  cursor: pointer;
  position: relative;
  border-radius: 30px;
  height: 31px;
  overflow: hidden;
}
.switch__content:before {
  content: "";
  display: block;
  position: absolute;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 0;
  left: 0;
  border: 1.5px solid #E5E5EA;
  border-radius: 30px;
  background-color: #fff;
}
.switch__content:after {
  content: "";
  display: block;
  position: absolute;
  background-color: transparent;
  width: 0;
  height: 0;
  top: 50%;
  left: 50%;
  border-radius: 30px;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}
.switch__input {
  display: none;
}
.switch__circle {
  display: block;
  top: 2px;
  left: 2px;
  position: absolute;
  -webkit-box-shadow: 0 2px 6px #999;
          box-shadow: 0 2px 6px #999;
  width: 27px;
  height: 27px;
  -webkit-border-radius: 20px;
          border-radius: 20px;
  background-color: #fff;
  -webkit-transition: all .5s;
     -moz-transition: all .5s;
      -ms-transition: all .5s;
       -o-transition: all .5s;
          transition: all .5s;
}
.switch__input:checked ~ .switch__circle {
  left: 21px;
}
.switch__input:checked ~ .switch__content:after {
  background-color: #66B0E0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}