p {
  font-family: Lato;
  font-weight: bold;
  text-shadow: 1px 2px 3px #808080;
}
.container {
  justify-content: center;

}
.result-box {
  color: #444;
  background-color: white;
  width: 80%;
  border-radius: 10px;
  border: solid 4px #ccc;
  padding: 1em;

}

.result-box img {
  width: 100%;
}

@media screen and (min-width: 960px) {
  .result-box {
    width: 50%;
  }

}